$opacity: 0.2;
$mockupWidth: 1024px;
$mockupHeight: 580px;
$graphWidth: 741px;
$treeWidth: 242px;

$mainBlue: #26a9e1;
$segmentsBlue: #2aabe4;
$listLinesColor: #cccccc;
$listLinesWidth: 2px;

$valuesColor: #23648a;
